* {
    box-sizing: border-box;
 }
html{
    height: 100%;
}
body{
    position: relative;
    background-image: url("../images/paper_1.png");
}
.iconRPS {
    width: 11rem;
    transform: skew(10deg);
    animation: shake 3s infinite;
    animation-direction: alternate;
}
@keyframes shake {
    0% {
              transform: skewY(5deg);
    }
    100% {
              transform: skewY(-5deg);
    }
}
.chatLog{
    height: 10rem;
    overflow-y: auto;
    vertical-align: bottom; 
}
.container {
    padding-bottom: 200px; 
}
footer {
    border-top: 8px solid #4aaaa5;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 35px;
	color: #dddddd;
}
.status {
    margin: 1rem 0 2rem 0; 
}
/* .card button {
    visibility: hidden; 
} */
.player1 .btn-secondary.active {
    background-color: #29B6F6;
    color: #ffffff; }
  
  .player2 .btn-secondary.active {
    background-color: #EC407A;
    color: #ffffff; }